<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Tour</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <h1>Agile Tour</h1>
        </div>
        <div class="nav-center">
            <a href="/home">Home</a>
            <a href="/events">Events</a>
            <a href="/speakers">Speakers</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="nav-right">

        </div>
    </nav>
</body>
</html>